.footer {
    background-color: rgb(225, 245, 236);
    display: flex;
    padding: 5px 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.copyright {
    color: black;
    font-weight: 700;
    margin-right: 20px;
    font-size: 0.75rem;
}

.socials-container {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.social {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social > img {
    width: 24px;
    height: 24px;
}

@media (max-width: 500px) {
    .social {
        margin: 5px 8px;
    }

    .social > img,
    .social {
        width: 20px;
        height: 20px;
    }

    .copyright {
        font-size: 0.75rem;
        margin-left: auto;
    }
}